<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>zk admin</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../vender/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" charset="utf-8" />
    <link href="../css/common.css" rel="stylesheet" charset="utf-8" />
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <!-- We use the fluid option here to avoid overriding the fixed width of a normal container within the narrow content columns. -->
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="/tree/admin"><span class="glyphicon glyphicon-home"></span> Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                <li><a href="/tree/config">Config-center</a></li>
                <li><a href="/tree/ha">HA-service</a></li>
                <li><a href="/tree/timer">Timer</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div>
</nav>
<div class="clearfix nav-height"></div>
<div class="container-fluid container-title">
    <div class="container container-title-content">
        <h1>zk-admin</h1>
        <p>zookeeper admin center</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" />
                            127.0.0.1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" />
                            192.168.1.100
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" />
                            127.0.0.1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" />
                            192.168.1.100
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" />
                            127.0.0.1
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" />
                            192.168.1.100
                        </label>
                    </div>
                </div>
            </div><!-- .panel -->
        </div><!-- .col-md-2 -->
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group col-md-6" th:each="ea : ${congigDatas.keySet()}">
                        <label th:text="${ea}"></label>
                        <input type="text" class="form-control" th:value="${congigDatas.getString(ea)}" />
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-primary">save</button>
                    </div>
                </div>
            </div><!-- .panel -->
        </div><!-- .col-md-9 -->
    </div><!-- .row -->
</div><!-- .container-fluid -->
</body>
<script src="../vender/jQuery/jquery-2.2.3.min.js"></script>
</html>